source https://nuget.org/api/v2
framework >= net40
nuget gitlink
nuget JetBrains.Annotations
nuget gitlink
nuget Costura.Fody 1.4.1
nuget Caliburn.Micro ~> 3.0
nuget ExposedObject ~> 1.2
nuget MahApps.Metro.IconPacks
nuget MahApps.Metro.Resources
nuget Microsoft.Bcl.Async framework: = net40
nuget Newtonsoft.Json  
nuget NHotkey.Wpf 1.2.1
nuget xunit.extensions ~> 1.9
nuget ControlzEx ~> 3.0